---
import { dataHeader } from "../components/Header/Header.data";
import { socialItems } from "../components/social-item";
---

<footer class="container text-center">
  <div class="grid lg:grid-cols-3 items-start justify-center p-10 gap-5">
    <div class="flex items-center justify-center my-auto">
      <img src="/LOGO.webp" alt="LOGO DOMA" class="w-24 h-24" loading="lazy" />
    </div>
    <div class="flex flex-col items-center lg:items-start justify-center gap-3">
      <h5 class="text-lg text-left text-primary-600 font-bold">Social</h5>
      <div>
        <ul class="flex gap-3">
          {
            socialItems.map((item) => (
              <li class="hover:text-primary-500 transition-all duration-200 ease-in-out">
                <a
                  class="flex items-center justify-center gap-1"
                  href={item.href}
                >
                  <img src={item.icon} alt={item.name} loading="lazy" />
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <h5 class="text-lg text-left text-primary-600 font-bold">Pages</h5>
      <div>
        <ul class="flex gap-3">
          {
            dataHeader.map((item) => (
              <li class="hover:border-b-2 border-b-primary-500 hover:text-gray-500">
                <a class="" href={item.href}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-3 items-center justify-center">
      <h5 class="text-lg text-primary-600 font-bold">Information</h5>
      <p>mailkit@example.com</p>
      <p class="max-w-[200px] text-left text-gray-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quidem
      </p>
    </div>
  </div>
  <hr class="border-gray-700 w-full" />
  <div class="flex items-center justify-center gap-5 p-10">
    <p>
      &copy; <span id="date"></span> All rights reserved.
    </p>
  </div>
</footer>

<script>
  function loadDate() {
    const $date = new Date();
    document.getElementById("date").textContent = $date
      .getFullYear()
      .toString();
  }
  window.onload = loadDate;
</script>
