---
import { dataHeader, socialMedia } from "@/data/Header.data";
import { Mail, MapPin, Phone } from "@lucide/astro";
import { Image } from "astro:assets";

const date = new Date();
const year = date.getFullYear();
const copyright = `${year} Doma Clean All rights reserved`;
---

<footer class="max-w-7xl mx-auto">
  <div class="px-20 py-16 md:py-20 relative">
    <div class="flex flex-col md:flex-row items-center justify-between gap-4">
      <div class="flex flex-col items-center gap-4">
        <Image src="/LOGO.webp" alt="LOGO DOMA" width={100} height={100} />

        <div class="flex gap-4">
          {
            socialMedia.map(({ name, href, icon: Icon }) => (
              <a
                href={href}
                class="text-white hover:animate-jelly transition-colors"
              >
                <div class="p-2 rounded-full bg-gradient-primary transition-colors">
                  <Icon class="h-5 w-5" />
                </div>
                <span class="sr-only">{name}</span>
              </a>
            ))
          }
        </div>
      </div>

      <div>
        <ul class="hidden md:flex flex-col lg:flex-row gap-3 text-center">
          {
            dataHeader.map(({ name, href }) => (
              <li>
                <a
                  href={href}
                  class="text-base text-black hover:text-blue-500 transition-colors"
                >
                  {name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="">
        <ul class="flex flex-col items-center gap-3 text-base">
          <li>
            <a
              href="tel:+1234567890"
              class="hover:text-blue-500 transition-colors flex items-center gap-2 text-center"
            >
              <Phone size={20} />
              <p>561-418-3255</p>
            </a>
          </li>
          <li>
            <a
              href="mailto:info@domaclean.com"
              class="hover:text-blue-500 transition-colors flex items-center gap-2 text-center"
            >
              <Mail size={20} />
              <p>info@domacleanings.com</p>
            </a>
          </li>
          <li class="flex items-center gap-2">
            <MapPin size={20} />
            <p>4545 E Warren ave #338 Denver, CO 80222</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="mt-16 pt-8 border-t border-teal-600 text-center text-base">
      <p>
        &copy; {copyright}
      </p>
    </div>
  </div>
</footer>
