---
import Badge from "@/components/ui/starwind/badge";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/starwind/card";
import { ArrowRight, Check, House } from "@lucide/astro";
import { Image } from "astro:assets";
import { serviceList, type Service } from "@/data/services";

const bgMap = {
  teal: "bg-teal-200 hover:bg-teal-600",
  blue: "bg-blue-200 hover:bg-blue-600",
  purple: "bg-purple-200 hover:bg-purple-600",
  yellow: "bg-yellow-200 hover:bg-yellow-600",
};

const colorMap = {
  teal: "text-teal-700",
  blue: "text-blue-800",
  purple: "text-purple-800",
  yellow: "text-yellow-600",
};
---

<section class="py-20 md:py-32" id="services">
  <div class="">
    <div
      class="flex flex-col items-center text-center gap-3 max-w-3xl mx-auto mb-16 p-6"
    >
      <Badge
        class="px-3 py-1 text-base bg-teal-100 hover:bg-teal-200 text-teal-800 rounded-full"
      >
        Our Services
      </Badge>
      <h2 class="text-3xl md:text-4xl font-bold tracking-tight text-left">
        <span class="text-gradient-primary">Customized</span> cleaning solutions
      </h2>
      <p class="text-lg text-slate-600 text-center text-balance">
        We offer customized cleaning services for homes and businesses with the
        highest quality standards
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-4 max-w-5xl mx-auto">
      {
        serviceList.map(
          ({
            src,
            title,
            description,
            list,
            link,
            icon: Icon,
            color,
          }: Service) => (
            <Card class="flex flex-col items-center justify-between rounded-2xl shadow-xl">
              <div class="absolute inset-0 bg-gradient-to-br from-teal-300/5 to-blue-500/5 opacity-0 group-hover:opacity-100 transition-opacity duration-300" />
              <CardHeader class="p-1 w-full">
                <div class="rounded-xl">
                  <Image
                    src={src}
                    alt="Limpieza residencial"
                    width={500}
                    height={500}
                    decoding="async"
                    loading="lazy"
                    class="w-full h-60 object-cover object-center rounded-t-xl brightness-75"
                  />
                </div>
              </CardHeader>
              <CardContent class="p-6 space-y-4">
                <CardTitle class="flex items-center gap-3">
                  <div class={`p-2 rounded-full ${bgMap[color]}`}>
                    <Icon size={25} class={`${colorMap[color]} `} />
                  </div>
                  <h3 class="text-xl font-bold">{title}</h3>
                </CardTitle>
                <CardDescription class="text-slate-600">
                  <p>{description}</p>

                  <ul class="space-y-2 my-4">
                    {list.map((item: string) => (
                      <li class="flex items-center gap-2">
                        <Check class="h-4 w-4 text-teal-600" />
                        <span class="text-sm text-slate-600">{item}</span>
                      </li>
                    ))}
                  </ul>
                </CardDescription>
                <div>
                  {link && (
                    <a href={link}>
                      <button
                        class={`flex items-center gap-2 px-6 py-2 rounded-xl hover:${bgMap[color]} ${colorMap[color]} transition-colors duration-200 ease-in-out cursor-pointer hover:text-white`}
                      >
                        See Details
                        <ArrowRight size={20} />
                      </button>
                    </a>
                  )}
                </div>
              </CardContent>
            </Card>
          )
        )
      }
    </div>
  </div>
</section>
